*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: '微软雅黑';
	}
	body
	{
	  /* color:#6a6f8c; */
	  background:#d3cbf8;
	}
#slide1{
	width: 95%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.weui-flex{
	margin-top: 15px;
}
#weui-flex{
	width: 100%;
}
/*  */
#main0{
	visibility: visible;
	position: relative;
	height: 45px;
	width: 100%;
	margin-top: 40px;
}
#main0_l{
	float: left;
}
#img0{
	height: 50px;
	padding-left: 30px;
}
#main0_r{
	float: left;
}
#list_h3 ul li{
	float: left;
	padding-left: 15px;
}
#list_h4 ul{
	margin-left: -20px;
}
#list_h4 ul li{
	float: left;
	padding-left: 40px;
	font-weight: 100;
	font-size: 14px;
}
#weui-flex{
	width: 100%;
	position: absolute;
	top: 20px;
}
/*  */
#main1{
	margin-top: 40px;
	visibility: visible;
}
.main1{
	visibility: visible;
}
#L{
	float: left;
	padding-left: 35px;
	text-align: center;
}
#R{
	float: left;
}
#L h4{
	border-bottom: 2px solid #ADADAD;
}
#L_sty{
	background-color: #000000;
	width: 80px;
	text-align: center;
	
}
.siz{
	color: #F7F7F8;
	font-size: 10px;
	
}
#R h5{
	font-size: 14px;
	margin-top: 2px;
	margin-left: 10px;
}
#R h6{
	margin-top: 10px;
	margin-left: 10px;
}
.img-box img{
	height: 60px;
	width: 200px;
	float: right;
	padding-right: 36px;
}
/*  */
.main2{
	visibility: visible;
	margin-top: 40px;
}
.main2_m{
	float: right;
}
#main2_l{
	float: left;
	padding-left: 35px;
}
#main2_l h5{
	margin-top: 20px;
	color: #CE3C39;
}
#main2_r{
	float: left;
}
#main2_r img{
	width: 350px;
	height: 250px;
	padding-left: 15px;
}
/*  */
#main3{
	visibility: visible;
	margin-top: 40px;
}
#main3_img1{
	height: 250px;
	width: 80%;
}
#main3_img2{
	height: 200px;
	width: 80%;
	position: relative;
	left: -20px;
}
#main3 span{
	width: 100%;
}
#main3_txt{
	position: absolute;
	margin-top: 200px;
	padding-left: 77px;
	font-size: 14px;
	color: #999999;
}
#main3_txt ul{
	margin-left: -100px;
}
#main3_txt ul li{
	float: left;
	padding-left: 100px;
	color: black;
}
/* index2 */
#top_img{
	height: 40px;
}
#top_img img{
	height: 40px;
}
.placeholder{
	text-align: center;
}
.w{
	height: 300px;
	width: 80%;
	margin: 0 auto;
}
#part1{
	visibility: visible;
	position: relative;
	height: 200px;
}
#part1_l{
	float: left;
	padding-left: 30px;
	padding-top: 30px;
}
#part1_l h4{
	margin-top: 20px;
}
#part1_r{
	float: right;
	padding-right: 30px;
	padding-top: 30px;
}
#part1_r img{
	height: 120px;
}
#part2{
	position: absolute;
	left: 50%;
	margin-left: -60px;
}

.weui-flex__item .top{
	margin-bottom: 20px;
}
#bott{
	position: relative;
	height: 400px;
}
#BigDiagram{
	height: 450px;
	width: 80%;
	position: relative;
	left: -110px;
	padding-bottom: 120px;
}
#bot{
	position: absolute;
	margin-top: 50px;
	margin-left: 150px;
}
