
/* 开始 */
  *{
    margin: 0;
    padding: 0;
  
  }
  body
  {
    /* color:#6a6f8c; */
    background:#d3cbf8;
  }
  .main-head{
    margin: 0 auto;
  }
  .fl{
    float: left;
    text-align: center;
    width: 20%;
    margin-top: 20px;
  }
  .fl img{
    height: 20px;
  }
  .neck{
    width: 100%;
    overflow: hidden;
  }
  
  .hr{
    height:2px;
    /* margin:60px 0 50px 0; */
    background:rgba(57, 51, 51, 0.2);
    margin-top:10px;
  }
  .thumbnail {
    padding: 20px; 
}
  .left{
    width: 40%;
    position: relative;
    float: left;
    left: 10px;
    top: 20px;
  }
  .right{
    width: 40%;
    position: relative;
    float: right;
    right: 10px;
    top: 20px;
  
  }
  .caption
  {
    text-align: center;
  }
  .Middle{
    height: 70px;
    width: 100%;
    overflow: hidden;
  }
  .Middle-left{
    position: relative;
    
  }
  .Middle-left img{
    border: 2px solid #101010;
    height: 50px;
    position: relative;
    left: 65px;
    top: 10px;
  }
  .Middle-right{
    position: relative;
    float: right;
    padding-right: 75px;
    top: 25px;
    color:black;
    /* font-size: 18px; */
  }
  .Middle-top{
    float:left;
    margin-left: 70px;
    margin-top: 10px;
    /* font-size: 25px; */
  }
  .Middle-top span{
    font-size: 8px;
    position: relative;
    top: -10px;
  }
  .bottom{
    width: 100%;
  }
  .jumbotron-img{
    width: 90%;
    position: relative;
    left: 5%;
    right: 5%;
  }
  .bottom span{
    font-size: 16px;
    position: relative;
    top: -20px;
    padding-left: 550px;
  }
  .bottom-foon{
    width: 100%;
    color:black;
  }
  .bottom-foon span{
    padding-left: 70px;
  }
  .Give{
    height: 20px;
     /* padding-right: 30px; */
  }
/* .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
     background-color: #eee; 
}  */